<div class="container">
    <h1 class="page-header">Add a Friend</h1>
    <ul class="list-group">
         <% searchUsers.forEach((possibleFriend) => { %>
            <li class="list-group-item">
                <a href=<%= "/friends/addFriend/" + possibleFriend.id %>><img src=<%= possibleFriend.profile + "&w=200&h=200" %>> <h3><%= possibleFriend.name %></h3></a>
            </li>
        <% }) %>
    </ul>
</div>